<div class="container mx-auto py-4">
  <p style="color: green"><%= notice %></p>

  <h1 class="mb-2">Rewards</h1>

  <div id="rewards">
    <% @rewards.each do |reward| %>
      <div class="card w-25 rounded-5 text-center">
        <div class="card-body">
          <%= render reward %>
          <%= form_with url: orders_path, method: :post, class: "d-inline" do |f| %>
            <%= f.hidden_field "order[line_items_attributes][][itemizable_type]", value: "Reward" %>
            <%= f.hidden_field "order[line_items_attributes][][itemizable_id]", value: reward.id %>
            <%= f.submit "Redeem", class: "btn btn-primary", disabled: Current.user.balance < reward.points %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
